{% extends "app/layout.html" %} {% block content %} 
{% load crispy_forms_tags %}
{% load static %}

<style>
.rounded-square {
  border-radius: 5px;
}
</style>









<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="exampleModalLabel">Select Files</h5>

      </div>
      <div class="modal-body text-black">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in data" :key="item.id">
                  <td>[[ item.file_name ]]</td>
                  <td><button @click="selectFile([[ item.file_name ]])" class="btn btn-dark">Select File</button></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
                  function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                  }
    new Vue({
        delimiters: ["[[", "]]"],
        el: "#exampleModal",
        data: {
            data: [],
        },
        mounted() {
            setInterval(this.fetchFiles({{request.user.pk}}), 1000);
        },
        methods: {
            fetchFiles(id) {

                        axios.get(`/api/files/${id}/`).then(response => {
                          this.data = response.data;

                          console.log(this.data);
                        }).catch(error => {
                          console.error(error);
                        });
            },

                selectFile(file_name) {

                document.getElementById('selected_file').innerHTML = file_name;
                $('#exampleModal').modal('hide')

                 },



                    }
                  });
                </script>


{% if request.user.is_authenticated == True %}



<div class="row">
    <div class="col-lg-9 mt-4">
        <h1 class="display-6 fw-bold">Hey, {{request.user}}</h1>
        <p class="lead">How can I assist you today?</p>
        <div class="card mb-4 border-light">
          
          <div class="card-body">
              <div class="card-title fw-bold">Latest</div>
          </div>
        </div>


      <div id="file_info" style="display:none;">
      <h1 class="display-6">File Selected: </h1>
      <p class="lead" id="selected_file">None</p></div>
    <div class="card border-light">
      <div class="card-body" id="chat_card">
        <div class="row" style="height:700px;">
          <div class="col-lg-12">
            <div class="table-responsive">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="chat-box" style="max-height: 650px;" id="message_box">
                      <div class="message mb-4" hidden>
                        <div class="row">
                          <div class="col-lg-1">
                            <img src="https://cdn.pixabay.com/photo/2019/04/21/19/36/cat-4144810__340.jpg" class="rounded-circle" style="width: 75px; height: 75px;" alt="User Image">
                          </div>
                          <div class="col-lg-11">
                            <p class="lead"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-10">
            <input type="text" id="input_message" placeholder="Chat with Fusionate AI" style="color:black; background-color: gainsboro;" class="form-control border border-light" />
          </div>
          <div class="col-lg-2">
            <button style="width: 100%;" class="btn btn-primary" @click="enterChat()">Enter</button>
          </div>
        </div>
      </div>

      <script>
        function getCookie(name) {
          const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
          return cookieValue ? cookieValue.pop() : '';
        }
        new Vue({
          delimiters: ["[[", "]]"],
          el: "#chat_card",
          data: {
            chat: [],
          },
          mounted() {
            console.log("Mounted");
          },
          methods: {
            giveAnswer(response) {
              const my_message = document.getElementById('input_message').value;
              var messageBox = document.getElementById('message_box');
              var newMessage = document.createElement('div');
              newMessage.className = 'message mb-4';
              var messageContent = `
                            
					<div class="slideInUp">
						<div class="row">
							<div class="col-lg-1">
								<img class="rounded-square img-fluid" src="https://media.licdn.com/dms/image/D560BAQGs8qZo816PpA/company-logo_200_200/0/1684314285084?e=1694044800&v=beta&t=J5Elu6vduC0nEwE3k4oQ7GgGD-nbscg5URP0wXv83pI" class="rounded-circle" style="width: 50px; height: 50px;" alt="User Image">
								</div>
								<div class="col-lg-11">
									<p class="fw-light" style="font-family: Arial, sans-serif; display: inline-block; font-size: 1.25rem; font-weight: 300;"><br><br>` + String(response) + `</p>
								</div>
							</div>
						</div>
                          `;
              newMessage.innerHTML = messageContent;
              messageBox.appendChild(newMessage);
            },
            enterChat() {
              const my_message = document.getElementById('input_message').value;
              var messageBox = document.getElementById('message_box');
              var newMessage = document.createElement('div');
              newMessage.className = 'message mb-4';
              var messageContent = `
						<div class="slideInRight">
							<div class="row">
								<div class="col-lg-1">
									<img src="{% static 'assets/profile.jpg' %}" class="rounded-square img-fluid" style="width: 50px; height: 50px;" alt="User Image">
									</div>
									<div class="col-lg-11">
										<pre class="fw-light" style="font-family: Arial, sans-serif; display: inline-block; font-size: 1.25rem; font-weight: 300;">` + String(my_message) + `</pre>
									</div>
								</div>
							</div>
                          `;
              newMessage.innerHTML = messageContent;
              messageBox.appendChild(newMessage);
              document.getElementById('input_message').value = "";
              const csrftoken = getCookie('csrftoken');
              axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
              const formData = new FormData();
              
            const selectedFile = document.getElementById('selected_file').innerHTML.trim();
            formData.append('question', my_message);

            if (selectedFile !== 'None') {
                formData.append('file_state', 'yes');
                formData.append('file_name', selectedFile);
            } else {
                formData.append('file_state', 'no');
                formData.append('file_name', "None");
            }
              
              formData.append('question', my_message);
              axios.post("/ask/", formData).then(response => {
                console.log(response.data.message);
                const theAnswer = String(response.data.message);
                this.giveAnswer(theAnswer);
              }).catch(error => {
                alert(error.message);
              });
            }
          }
        });
      </script>
    </div>


    </div>

      <div class="col-lg-3 mt-0" style="background:white;">

      <div class="row-card">
   
        <div class="card border-light mt-4" style="background-color: #F3F6F8">
            <div class="card-body">
               <form class="form-group" method="post" action="{% url 'upload_files' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ upload_file|crispy }}
                    <input type="submit" value="Upload File" class="btn btn-secondary" style="width: 100%; display:inline-block;" />
                </form>

                  <script>
                      const element = document.getElementById('id_user');
                      element.style.display = "none";
                      document.getElementById('id_user').value = {{ request.user.pk }};
                  </script>
            </div>
        </div>

        <button class="btn btn-success mt-2 border-light w-100 text-dark" style="background-color: #F3F6F8" onclick="$('#exampleModal').modal('toggle')">View Files</button>

        <div class="card border-light mt-5 mb-2" style="background-color: #F3F6F8">
            <div class="card-body">
                <div class="card-title fw-bold">Super Apps</div>
                <p class="lead fs-6">Agents + Apps + AI Tool</p>
                <div class="row">
                    <div class="col-lg-3"><img class="img-fluid" style="width: 50px; height:50px;" src="{% static '/assets/1.png' %}"/></div>
                    <div class="col-lg-3"><img class="img-fluid" style="width: 50px; height:50px;" src="{% static '/assets/2.png' %}"/></div>
                    <div class="col-lg-3"><img class="img-fluid" style="width: 50px; height:50px;" src="{% static '/assets/3.png' %}"/></div>
                    <div class="col-lg-3"><img class="img-fluid" style="width: 50px; height:50px;" src="{% static '/assets/4.png' %}"/></div>

                </div>
            </div>
        </div>

        <div class="card border-light mb-2" style="background-color: #F3F6F8">
            <div class="card-body">
                <div class="card-title fw-bold">Agents <p>Autonomous characters</p></div>


                <div class="container">
                  <div class="d-flex flex-wrap">
                    <div class="flex-grow-1">
                      <h5 class="lead fs-6"><img class="img-fluid" style="height:25px; width:25px;" src="{%static '/assets/5.png' %}" alt="Image"> Meeting Summarizer</h5>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="d-flex flex-wrap">
                    <div class="flex-grow-1">
                      <h5 class="lead  fs-6"><img class="img-fluid" style="height:25px; width:25px;" src="{%static '/assets/6.png' %}" alt="Image"> Customer Support</h5>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="d-flex flex-wrap">
                    <div class="flex-grow-1">
                      <h5 class="lead  fs-6"><img class="img-fluid" style="height:25px; width:25px;" src="{%static '/assets/7.png' %}" alt="Image"> Designer</h5>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="d-flex flex-wrap">
                    <div class="flex-grow-1">
                      <h5 class="lead  fs-6"><img class="img-fluid" style="height:25px; width:25px;" src="{%static '/assets/8.png' %}" alt="Image"> Data Analyst</h5>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="d-flex flex-wrap">
                    <div class="flex-grow-1">
                      <h5 class="lead  fs-6"><img class="img-fluid" style="height:25px; width:25px;" src="{%static '/assets/9.png' %}" alt="Image"> Resume Screener</h5>
                    </div>
                  </div>
                </div>


                </div>
        </div>
        </div>

        <div class="card border-light mb-2" style="background-color: #F3F6F8">
            <div class="card-body">
                <div class="card-title fw-bold">Apps</div>
                <p class="lead fs-6">Applications</p>
            </div>
        </div>

        <div class="card border-light mb-2" style="background-color: #F3F6F8">
            <div class="card-body">
                <div class="card-title fw-bold">AI Tools</div>
                <p class="lead fs-6">AI-Powered Tools</p>
            </div>
        </div>

       </div>

  </div>




<div class="row mt-4">
  <div class="col-lg-9 mb-4">

  </div>

</div> 
{% endif %}


{% endblock %}